@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-185c0u');
	src:url('fonts/icomoon.eot?#iefix-185c0u') format('embedded-opentype'),
		url('fonts/icomoon.woff?-185c0u') format('woff'),
		url('fonts/icomoon.ttf?-185c0u') format('truetype'),
		url('fonts/icomoon.svg?-185c0u#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.:before {
	content: "\";
}
