/* including package saki-grid-search */
/* including package saki-grid-search */
@font-face {
  font-family: 'fontello';
  src: url("saki-grid-search/font/fontello.eot?19433873");
  src: url("saki-grid-search/font/fontello.eot?19433873#iefix") format("embedded-opentype"), url("saki-grid-search/font/fontello.woff?19433873") format("woff"), url("saki-grid-search/font/fontello.ttf?19433873") format("truetype"), url("saki-grid-search/font/fontello.svg?19433873#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('saki-grid-search/font/fontello.svg?19433873#fontello') format('svg');
  }
}
*/
/* line 22, ../../sass/src/grid/Search.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, ../../sass/src/grid/Search.scss */
.icon-search:before {
  content: '\e800'; }

/* line 55, ../../sass/src/grid/Search.scss */
.saki-gridsearch-btn .x-btn-glyph {
  padding-top: 1px; }
