<div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
    <div class="pb_wrapper">
      <div id="chart__frm_pie1" style="height:400;width:400"></div>

    </div> 
  </div> </div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
    <div class="pb_wrapper">
      <div id="chart__frm_pie2" style="height:400;width:400"></div>

    </div> 
  </div> </div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
    <div class="pb_wrapper">
      <div id="chart__frm_column3" style="height:400;width:400"></div>

    </div> 
  </div> </div></div><div class="wpb_column vc_column_container vc_col-sm-3"><div class="wpb_wrapper">
  <div class="wpb_text_column wpb_content_element ">
    <div class="pb_wrapper">
      <div id="chart__frm_column4" style="height:400;width:400"></div>

    </div> 
  </div> 
</div>
<style>#rex-stats { width: 100%; } .pb_wrapper{float:left;} div > text { font-family: "Pathway Gothic One"; color: #999; font-size:35px!important;  }
</style>
