label.btn-default { background-color: #515965!important; }
.rex-frmchk {
  border-radius: 0px!important; 
  font-family:"Pathway Gothic One",sans-serif!important;
}
#load-board { display:none; } 

.title_outer { display:none; }
.icon-lmg { width:150px!important; }
.wrapper {
margin-top: 300px!important; z-index: -1!important;
}

.frm_form_fields.form-group  {
  top: -10px!important;
  positon: relative;
}
.frm_style_formidable-style.with_frm_style .form-field {
    margin-bottom: 20px;
    padding: 0px!important;
}
.frm_form_field.frm_right_half, .frm_form_field.frm_right_third, .frm_form_field.frm_right_two_thirds, .frm_form_field.frm_right_fourth, .frm_form_field.frm_right_fifth, .frm_form_field.frm_right_inline, .frm_form_field.frm_last_half, .frm_form_field.frm_last_third, .frm_form_field.frm_last_two_thirds, .frm_form_field.frm_last_fourth, .frm_form_field.frm_last_fifth, .frm_form_field.frm_last_sixth, .frm_form_field.frm_last_seventh, .frm_form_field.frm_last_eighth, .frm_form_field.frm_last_inline, .frm_form_field.frm_last, .frm_form_field.frm_half, .frm_submit.frm_half, .frm_form_field.frm_third, .frm_submit.frm_third, .frm_form_field.frm_two_thirds, .frm_form_field.frm_fourth, .frm_submit.frm_fourth, .frm_form_field.frm_three_fourths, .frm_form_field.frm_fifth, .frm_submit.frm_fifth, .frm_form_field.frm_two_fifths, .frm_form_field.frm_three_fifths, .frm_form_field.frm_four_fifths, .frm_form_field.frm_sixth, .frm_submit.frm_sixth, .frm_form_field.frm_seventh, .frm_submit.frm_seventh, .frm_form_field.frm_eighth, .frm_submit.frm_eighth, .frm_form_field.frm_inline, .frm_submit.frm_inline {
    clear: none;
    float: left;
    margin-right: 0%;
}
.shiftnav-toggle-button {
    display: none;
}
input.btn.btn-default {
    margin-bottom: 50px!important;
}

footer.uncover {
    display: none!important;
}
.frm_form_fields.form-group {
    padding-top: 14px!important;
}
.frm_section_heading {  
  width: 100%;
  border: 1px solid #aaa;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  margin-top: 0px;
  overflow: hidden;
  padding-left:5px;
  padding-right:5px;
}
.frm_pos_top { 
}
.frm_section_heading {
  border-left:0px!important;
  border-right:0px!important;
  border-bottom:0px!important;
  border-top: 1px solid red!important;
  padding-top:20px!important; 
  padding-bottom: 20px!important;
}
@media and (max-device-width: 799px) {
  .frm_style_formidable-style.with_frm_style .form-field {
      margin-bottom: 20px;
      padding: 0px!important;
      width: 95%!important;
  }
  .frm_form_fields.form-group h3 {
    display: none!important;
  }
  .frm_form_field .frm_first {
    margin-left: 10px!important;
  }
  .frm_top_container {
    margin-left: 10px;
  }
  .frm_section_heading {
    border-left:0px!important;
    border-right:0px!important;
    border-bottom:0px!important;
    border-top: 1px solid red!important;
    padding-top:20px!important; 
    padding-bottom: 20px!important;
  }
}
@media and (min-device-width:800px) {
  .frm_style_formidable-style.with_frm_style .form-field {
      margin-bottom: 20px;
      padding: 0px!important;
      width: 33%!important;
  }
  .frm_section_heading {
    border-left:0px!important;
    border-right:0px!important;
    border-bottom:0px!important;
    border-top: 1px solid red!important;
    padding-top:20px!important; 
    padding-bottom: 20px!important;
  }
}
@media and (min-width:800px) {
  .frm_form_fields .form-group {
      display: inline-flex;
      flex-flow: column;
      min-width: 200px;
      flex-basis: calc;
      flex: 2;
  }
  .frm_form_field .frm_first {
    margin-left: 10px!important;
  }
  .frm_style_formidable-style.with_frm_style .form-field {
      margin-bottom: 20px;
      padding: 0px!important;
      width: 33%!important;
  }
  .frm_section_heading {
    border-left:0px!important;
    border-right:0px!important;
    border-bottom:0px!important;
    border-top: 1px solid red!important;
    padding-top:20px!important; 
    padding-bottom: 20px!important;
  }
}
