@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #3a3a3a;
	}
				.header_bottom,
		nav.mobile_menu{
				background-color: #2d2d2d !important;
		}
		
			.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner
		{
		padding-top:0px;
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
		height: auto !important;
		min-height: 400px;
	}
		
	}

@media only screen and (max-width: 768px){
	
	
	}
@media only screen and (max-width: 480px){

		section.parallax_section_holder{
		height: auto !important;
		min-height: 400px;
	}
	

		
	}