@font-face {
	font-family: 'Ultimate-set';
	src:url('Ultimate-set.eot?-s3kzim');
	src:url('Ultimate-set.eot?#iefix-s3kzim') format('embedded-opentype'),
		url('Ultimate-set.woff?-s3kzim') format('woff'),
		url('Ultimate-set.ttf?-s3kzim') format('truetype'),
		url('Ultimate-set.svg?-s3kzim#Ultimate-set') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="Ultimate-set-"], [class*=" Ultimate-set-"] {
	font-family: 'Ultimate-set';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.Ultimate-set-uni30:before {
	content: "\30";
}
.Ultimate-set-numberone:before {
	content: "\31";
}
.Ultimate-set-uni32:before {
	content: "\32";
}
.Ultimate-set-uni33:before {
	content: "\33";
}
.Ultimate-set-uni34:before {
	content: "\34";
}
.Ultimate-set-uni35:before {
	content: "\35";
}
.Ultimate-set-uni36:before {
	content: "\36";
}
.Ultimate-set-uni37:before {
	content: "\37";
}
.Ultimate-set-uni38:before {
	content: "\38";
}
.Ultimate-set-uni39:before {
	content: "\39";
}
.Ultimate-set-uni41:before {
	content: "\41";
}
.Ultimate-set-uni42:before {
	content: "\42";
}
.Ultimate-set-uni43:before {
	content: "\43";
}
.Ultimate-set-uni44:before {
	content: "\44";
}
.Ultimate-set-uni45:before {
	content: "\45";
}
.Ultimate-set-uni46:before {
	content: "\46";
}
.Ultimate-set-uni61:before {
	content: "\61";
}
.Ultimate-set-uni62:before {
	content: "\62";
}
.Ultimate-set-uni63:before {
	content: "\63";
}
.Ultimate-set-uni64:before {
	content: "\64";
}
.Ultimate-set-uni65:before {
	content: "\65";
}
.Ultimate-set-uni66:before {
	content: "\66";
}
.Ultimate-set-uni67:before {
	content: "\67";
}
.Ultimate-set-uni68:before {
	content: "\68";
}
.Ultimate-set-uni69:before {
	content: "\69";
}
.Ultimate-set-uni6A:before {
	content: "\6a";
}
.Ultimate-set-uni6B:before {
	content: "\6b";
}
.Ultimate-set-uni6C:before {
	content: "\6c";
}
.Ultimate-set-uni6D:before {
	content: "\6d";
}
.Ultimate-set-uni6E:before {
	content: "\6e";
}
.Ultimate-set-uni6F:before {
	content: "\6f";
}
.Ultimate-set-uni70:before {
	content: "\70";
}
.Ultimate-set-uni71:before {
	content: "\71";
}
.Ultimate-set-uni72:before {
	content: "\72";
}
.Ultimate-set-uni73:before {
	content: "\73";
}
.Ultimate-set-uni74:before {
	content: "\74";
}
.Ultimate-set-uni75:before {
	content: "\75";
}
.Ultimate-set-uni76:before {
	content: "\76";
}
.Ultimate-set-uni77:before {
	content: "\77";
}
.Ultimate-set-uni78:before {
	content: "\78";
}
.Ultimate-set-uni79:before {
	content: "\79";
}
.Ultimate-set-uni7A:before {
	content: "\7a";
}
.Ultimate-set-uni7B:before {
	content: "\7b";
}
.Ultimate-set-uni7C:before {
	content: "\7c";
}
.Ultimate-set-uni7D:before {
	content: "\7d";
}
.Ultimate-set-uni7E:before {
	content: "\7e";
}
.Ultimate-set-uniA1:before {
	content: "\a1";
}
.Ultimate-set-uniA2:before {
	content: "\a2";
}
.Ultimate-set-uniA3:before {
	content: "\a3";
}
.Ultimate-set-uniA4:before {
	content: "\a4";
}
.Ultimate-set-uniA5:before {
	content: "\a5";
}
.Ultimate-set-uniA6:before {
	content: "\a6";
}
.Ultimate-set-uniA7:before {
	content: "\a7";
}
.Ultimate-set-uniA8:before {
	content: "\a8";
}
.Ultimate-set-uniA9:before {
	content: "\a9";
}
.Ultimate-set-uniAA:before {
	content: "\aa";
}
.Ultimate-set-uniAB:before {
	content: "\ab";
}
.Ultimate-set-uniAC:before {
	content: "\ac";
}
.Ultimate-set-uniAE:before {
	content: "\ae";
}
.Ultimate-set-uniAF:before {
	content: "\af";
}
.Ultimate-set-uniB0:before {
	content: "\b0";
}
.Ultimate-set-uniB1:before {
	content: "\b1";
}
.Ultimate-set-uniB2:before {
	content: "\b2";
}
.Ultimate-set-uniB3:before {
	content: "\b3";
}
.Ultimate-set-uniC8:before {
	content: "\c8";
}
.Ultimate-set-uniC9:before {
	content: "\c9";
}
.Ultimate-set-uniCA:before {
	content: "\ca";
}
.Ultimate-set-uniCB:before {
	content: "\cb";
}
.Ultimate-set-uniCC:before {
	content: "\cc";
}
.Ultimate-set-uniCD:before {
	content: "\cd";
}
.Ultimate-set-uniCE:before {
	content: "\ce";
}
.Ultimate-set-uniCF:before {
	content: "\cf";
}
.Ultimate-set-uniD0:before {
	content: "\d0";
}
.Ultimate-set-uniD1:before {
	content: "\d1";
}
.Ultimate-set-uniD2:before {
	content: "\d2";
}
.Ultimate-set-uniD3:before {
	content: "\d3";
}
.Ultimate-set-uniD4:before {
	content: "\d4";
}
.Ultimate-set-uniD5:before {
	content: "\d5";
}
.Ultimate-set-uniD6:before {
	content: "\d6";
}
.Ultimate-set-uniD7:before {
	content: "\d7";
}
.Ultimate-set-uniD8:before {
	content: "\d8";
}
.Ultimate-set-uniD9:before {
	content: "\d9";
}
.Ultimate-set-uniDA:before {
	content: "\da";
}
.Ultimate-set-uniDB:before {
	content: "\db";
}
.Ultimate-set-uniDC:before {
	content: "\dc";
}
.Ultimate-set-uniDD:before {
	content: "\dd";
}
.Ultimate-set-uniDE:before {
	content: "\de";
}
.Ultimate-set-uniDF:before {
	content: "\df";
}
.Ultimate-set-uniE0:before {
	content: "\e0";
}
.Ultimate-set-uniE1:before {
	content: "\e1";
}
.Ultimate-set-uniE2:before {
	content: "\e2";
}
.Ultimate-set-uniE3:before {
	content: "\e3";
}
.Ultimate-set-uniE4:before {
	content: "\e4";
}
.Ultimate-set-uniE5:before {
	content: "\e5";
}
.Ultimate-set-uniE6:before {
	content: "\e6";
}
.Ultimate-set-uniE7:before {
	content: "\e7";
}
.Ultimate-set-uniE8:before {
	content: "\e8";
}
.Ultimate-set-uniE9:before {
	content: "\e9";
}
.Ultimate-set-uniEA:before {
	content: "\ea";
}
.Ultimate-set-uniEB:before {
	content: "\eb";
}
.Ultimate-set-uniEC:before {
	content: "\ec";
}
.Ultimate-set-uniED:before {
	content: "\ed";
}
.Ultimate-set-uniEE:before {
	content: "\ee";
}
.Ultimate-set-uniEF:before {
	content: "\ef";
}
.Ultimate-set-uniF0:before {
	content: "\f0";
}
.Ultimate-set-uniF1:before {
	content: "\f1";
}
.Ultimate-set-uniF2:before {
	content: "\f2";
}
.Ultimate-set-uniF3:before {
	content: "\f3";
}
.Ultimate-set-uniF4:before {
	content: "\f4";
}
.Ultimate-set-uniF5:before {
	content: "\f5";
}
.Ultimate-set-uniF6:before {
	content: "\f6";
}
.Ultimate-set-uniF7:before {
	content: "\f7";
}
.Ultimate-set-uniF8:before {
	content: "\f8";
}
.Ultimate-set-uniF9:before {
	content: "\f9";
}
.Ultimate-set-uniFA:before {
	content: "\fa";
}
.Ultimate-set-uniFB:before {
	content: "\fb";
}
.Ultimate-set-uniFC:before {
	content: "\fc";
}
.Ultimate-set-uniFD:before {
	content: "\fd";
}
.Ultimate-set-uniFE:before {
	content: "\fe";
}
.Ultimate-set-uniFF:before {
	content: "\ff";
}
.Ultimate-set-uni100:before {
	content: "\100";
}
.Ultimate-set-uni101:before {
	content: "\101";
}
.Ultimate-set-uni102:before {
	content: "\102";
}
.Ultimate-set-uni103:before {
	content: "\103";
}
.Ultimate-set-uni104:before {
	content: "\104";
}
.Ultimate-set-uni105:before {
	content: "\105";
}
.Ultimate-set-uni106:before {
	content: "\106";
}
.Ultimate-set-uni107:before {
	content: "\107";
}
.Ultimate-set-uni108:before {
	content: "\108";
}
.Ultimate-set-uni109:before {
	content: "\109";
}
.Ultimate-set-uni10A:before {
	content: "\10a";
}
.Ultimate-set-uni10B:before {
	content: "\10b";
}
.Ultimate-set-uni10C:before {
	content: "\10c";
}
.Ultimate-set-uni10D:before {
	content: "\10d";
}
.Ultimate-set-uni10E:before {
	content: "\10e";
}
.Ultimate-set-uni10F:before {
	content: "\10f";
}
.Ultimate-set-uni110:before {
	content: "\110";
}
.Ultimate-set-uni111:before {
	content: "\111";
}
.Ultimate-set-uni112:before {
	content: "\112";
}
.Ultimate-set-uni113:before {
	content: "\113";
}
.Ultimate-set-uni114:before {
	content: "\114";
}
.Ultimate-set-uni115:before {
	content: "\115";
}
.Ultimate-set-uni116:before {
	content: "\116";
}
.Ultimate-set-uni117:before {
	content: "\117";
}
.Ultimate-set-uni118:before {
	content: "\118";
}
.Ultimate-set-uni119:before {
	content: "\119";
}
.Ultimate-set-uni11A:before {
	content: "\11a";
}
.Ultimate-set-uni11B:before {
	content: "\11b";
}
.Ultimate-set-uni11C:before {
	content: "\11c";
}
.Ultimate-set-uni11D:before {
	content: "\11d";
}
.Ultimate-set-uni11E:before {
	content: "\11e";
}
.Ultimate-set-uni11F:before {
	content: "\11f";
}
.Ultimate-set-uni120:before {
	content: "\120";
}
.Ultimate-set-uni121:before {
	content: "\121";
}
.Ultimate-set-uni122:before {
	content: "\122";
}
.Ultimate-set-uni123:before {
	content: "\123";
}
.Ultimate-set-uni124:before {
	content: "\124";
}
.Ultimate-set-uni125:before {
	content: "\125";
}
.Ultimate-set-uni126:before {
	content: "\126";
}
.Ultimate-set-uni127:before {
	content: "\127";
}
.Ultimate-set-uni128:before {
	content: "\128";
}
.Ultimate-set-uni129:before {
	content: "\129";
}
.Ultimate-set-uni12A:before {
	content: "\12a";
}
.Ultimate-set-uni12B:before {
	content: "\12b";
}
.Ultimate-set-uni12C:before {
	content: "\12c";
}
.Ultimate-set-uni12D:before {
	content: "\12d";
}
.Ultimate-set-uni12E:before {
	content: "\12e";
}
.Ultimate-set-uni12F:before {
	content: "\12f";
}
.Ultimate-set-uni130:before {
	content: "\130";
}
.Ultimate-set-uni131:before {
	content: "\131";
}
.Ultimate-set-uni132:before {
	content: "\132";
}
.Ultimate-set-uni133:before {
	content: "\133";
}
.Ultimate-set-uni134:before {
	content: "\134";
}
.Ultimate-set-uni135:before {
	content: "\135";
}
.Ultimate-set-uni136:before {
	content: "\136";
}
.Ultimate-set-uni137:before {
	content: "\137";
}
.Ultimate-set-uni138:before {
	content: "\138";
}
.Ultimate-set-uni139:before {
	content: "\139";
}
.Ultimate-set-uni13A:before {
	content: "\13a";
}
.Ultimate-set-uni13B:before {
	content: "\13b";
}
.Ultimate-set-uni13C:before {
	content: "\13c";
}
.Ultimate-set-uni13D:before {
	content: "\13d";
}
.Ultimate-set-uni13E:before {
	content: "\13e";
}
.Ultimate-set-uni13F:before {
	content: "\13f";
}
.Ultimate-set-uni140:before {
	content: "\140";
}
.Ultimate-set-uni141:before {
	content: "\141";
}
.Ultimate-set-uni142:before {
	content: "\142";
}
.Ultimate-set-uni143:before {
	content: "\143";
}
.Ultimate-set-uni144:before {
	content: "\144";
}
.Ultimate-set-uni145:before {
	content: "\145";
}
.Ultimate-set-uni146:before {
	content: "\146";
}
.Ultimate-set-uni147:before {
	content: "\147";
}
.Ultimate-set-uni148:before {
	content: "\148";
}
.Ultimate-set-uni149:before {
	content: "\149";
}
.Ultimate-set-uni14A:before {
	content: "\14a";
}
.Ultimate-set-uni14B:before {
	content: "\14b";
}
.Ultimate-set-uni14C:before {
	content: "\14c";
}
.Ultimate-set-uni14D:before {
	content: "\14d";
}
.Ultimate-set-uni14E:before {
	content: "\14e";
}
.Ultimate-set-uni14F:before {
	content: "\14f";
}
.Ultimate-set-uni150:before {
	content: "\150";
}
.Ultimate-set-uni151:before {
	content: "\151";
}
.Ultimate-set-uni152:before {
	content: "\152";
}
.Ultimate-set-uni153:before {
	content: "\153";
}
.Ultimate-set-uni154:before {
	content: "\154";
}
.Ultimate-set-uni155:before {
	content: "\155";
}
.Ultimate-set-uni156:before {
	content: "\156";
}
.Ultimate-set-uni157:before {
	content: "\157";
}
.Ultimate-set-uni158:before {
	content: "\158";
}
.Ultimate-set-uni159:before {
	content: "\159";
}
.Ultimate-set-uni15A:before {
	content: "\15a";
}
.Ultimate-set-uni15B:before {
	content: "\15b";
}
.Ultimate-set-uni15C:before {
	content: "\15c";
}
.Ultimate-set-uni15D:before {
	content: "\15d";
}
.Ultimate-set-uni15E:before {
	content: "\15e";
}
.Ultimate-set-uni15F:before {
	content: "\15f";
}
.Ultimate-set-uni160:before {
	content: "\160";
}
.Ultimate-set-uni161:before {
	content: "\161";
}
.Ultimate-set-uni162:before {
	content: "\162";
}
.Ultimate-set-uni163:before {
	content: "\163";
}
.Ultimate-set-uni164:before {
	content: "\164";
}
.Ultimate-set-uni165:before {
	content: "\165";
}
.Ultimate-set-uni166:before {
	content: "\166";
}
.Ultimate-set-uni167:before {
	content: "\167";
}
.Ultimate-set-uni168:before {
	content: "\168";
}
.Ultimate-set-uni169:before {
	content: "\169";
}
.Ultimate-set-uni16A:before {
	content: "\16a";
}
.Ultimate-set-uni16B:before {
	content: "\16b";
}
.Ultimate-set-uni16C:before {
	content: "\16c";
}
.Ultimate-set-uni16D:before {
	content: "\16d";
}
.Ultimate-set-uni16E:before {
	content: "\16e";
}
.Ultimate-set-uni16F:before {
	content: "\16f";
}
.Ultimate-set-uni170:before {
	content: "\170";
}
.Ultimate-set-uni171:before {
	content: "\171";
}
.Ultimate-set-uni172:before {
	content: "\172";
}
.Ultimate-set-uni173:before {
	content: "\173";
}
.Ultimate-set-uni174:before {
	content: "\174";
}
.Ultimate-set-uniE000:before {
	content: "\e000";
}
.Ultimate-set-uniE001:before {
	content: "\e001";
}
.Ultimate-set-uniE002:before {
	content: "\e002";
}
.Ultimate-set-uniE003:before {
	content: "\e003";
}
.Ultimate-set-uniE004:before {
	content: "\e004";
}
.Ultimate-set-uniE005:before {
	content: "\e005";
}
.Ultimate-set-uniE006:before {
	content: "\e006";
}
.Ultimate-set-uniE007:before {
	content: "\e007";
}
.Ultimate-set-uniE008:before {
	content: "\e008";
}
.Ultimate-set-uniE009:before {
	content: "\e009";
}
.Ultimate-set-uniE00A:before {
	content: "\e00a";
}
.Ultimate-set-uniE00B:before {
	content: "\e00b";
}
.Ultimate-set-uniE00C:before {
	content: "\e00c";
}
.Ultimate-set-uniE00D:before {
	content: "\e00d";
}
.Ultimate-set-uniE00E:before {
	content: "\e00e";
}
.Ultimate-set-uniE00F:before {
	content: "\e00f";
}
.Ultimate-set-uniE010:before {
	content: "\e010";
}
.Ultimate-set-uniE011:before {
	content: "\e011";
}
.Ultimate-set-uniE012:before {
	content: "\e012";
}
.Ultimate-set-uniE013:before {
	content: "\e013";
}
.Ultimate-set-uniE014:before {
	content: "\e014";
}
.Ultimate-set-uniE015:before {
	content: "\e015";
}
.Ultimate-set-uniE016:before {
	content: "\e016";
}
.Ultimate-set-uniE017:before {
	content: "\e017";
}
.Ultimate-set-uniE018:before {
	content: "\e018";
}
.Ultimate-set-uniE019:before {
	content: "\e019";
}
.Ultimate-set-uniE01A:before {
	content: "\e01a";
}
.Ultimate-set-uniE01B:before {
	content: "\e01b";
}
.Ultimate-set-uniE01C:before {
	content: "\e01c";
}
.Ultimate-set-uniE01D:before {
	content: "\e01d";
}
.Ultimate-set-uniE01E:before {
	content: "\e01e";
}
.Ultimate-set-uniE01F:before {
	content: "\e01f";
}
.Ultimate-set-uniE020:before {
	content: "\e020";
}
.Ultimate-set-uniE021:before {
	content: "\e021";
}
.Ultimate-set-uniE022:before {
	content: "\e022";
}
.Ultimate-set-uniE023:before {
	content: "\e023";
}
.Ultimate-set-uniE024:before {
	content: "\e024";
}
.Ultimate-set-uniE025:before {
	content: "\e025";
}
.Ultimate-set-uniE026:before {
	content: "\e026";
}
.Ultimate-set-uniE027:before {
	content: "\e027";
}
.Ultimate-set-uniE028:before {
	content: "\e028";
}
.Ultimate-set-uniE029:before {
	content: "\e029";
}
.Ultimate-set-uniE02A:before {
	content: "\e02a";
}
.Ultimate-set-uniE02B:before {
	content: "\e02b";
}
.Ultimate-set-uniE02C:before {
	content: "\e02c";
}
.Ultimate-set-uniE02D:before {
	content: "\e02d";
}
.Ultimate-set-uniE02E:before {
	content: "\e02e";
}
.Ultimate-set-uniE02F:before {
	content: "\e02f";
}
.Ultimate-set-uniE030:before {
	content: "\e030";
}
.Ultimate-set-uniE031:before {
	content: "\e031";
}
.Ultimate-set-uniE032:before {
	content: "\e032";
}
.Ultimate-set-uniE033:before {
	content: "\e033";
}
.Ultimate-set-uniE034:before {
	content: "\e034";
}
.Ultimate-set-uniE035:before {
	content: "\e035";
}
.Ultimate-set-uniE036:before {
	content: "\e036";
}
.Ultimate-set-uniE037:before {
	content: "\e037";
}
.Ultimate-set-uniE038:before {
	content: "\e038";
}
.Ultimate-set-uniE039:before {
	content: "\e039";
}
.Ultimate-set-uniE03A:before {
	content: "\e03a";
}
.Ultimate-set-uniE03B:before {
	content: "\e03b";
}
.Ultimate-set-uniE03C:before {
	content: "\e03c";
}
.Ultimate-set-uniE03D:before {
	content: "\e03d";
}
.Ultimate-set-uniE03E:before {
	content: "\e03e";
}
.Ultimate-set-uniE03F:before {
	content: "\e03f";
}
.Ultimate-set-uniE040:before {
	content: "\e040";
}
.Ultimate-set-uniE041:before {
	content: "\e041";
}
.Ultimate-set-uniE042:before {
	content: "\e042";
}
.Ultimate-set-uniE043:before {
	content: "\e043";
}
.Ultimate-set-uniE044:before {
	content: "\e044";
}
.Ultimate-set-uniE045:before {
	content: "\e045";
}
.Ultimate-set-uniE046:before {
	content: "\e046";
}
.Ultimate-set-uniE047:before {
	content: "\e047";
}
.Ultimate-set-uniE048:before {
	content: "\e048";
}
.Ultimate-set-uniE049:before {
	content: "\e049";
}
.Ultimate-set-uniE04A:before {
	content: "\e04a";
}
.Ultimate-set-uniE04B:before {
	content: "\e04b";
}
.Ultimate-set-uniE04C:before {
	content: "\e04c";
}
.Ultimate-set-uniE04D:before {
	content: "\e04d";
}
.Ultimate-set-uniE04E:before {
	content: "\e04e";
}
.Ultimate-set-uniE04F:before {
	content: "\e04f";
}
.Ultimate-set-uniE050:before {
	content: "\e050";
}
.Ultimate-set-uniE051:before {
	content: "\e051";
}
.Ultimate-set-uniE052:before {
	content: "\e052";
}
.Ultimate-set-uniE053:before {
	content: "\e053";
}
.Ultimate-set-uniE054:before {
	content: "\e054";
}
.Ultimate-set-uniE055:before {
	content: "\e055";
}
.Ultimate-set-uniE056:before {
	content: "\e056";
}
.Ultimate-set-uniE057:before {
	content: "\e057";
}
.Ultimate-set-uniE058:before {
	content: "\e058";
}
.Ultimate-set-uniE059:before {
	content: "\e059";
}
.Ultimate-set-uniE05A:before {
	content: "\e05a";
}
.Ultimate-set-uniE05B:before {
	content: "\e05b";
}
.Ultimate-set-uniE05C:before {
	content: "\e05c";
}
.Ultimate-set-uniE05D:before {
	content: "\e05d";
}
.Ultimate-set-uniE05E:before {
	content: "\e05e";
}
.Ultimate-set-uniE05F:before {
	content: "\e05f";
}
.Ultimate-set-uniE060:before {
	content: "\e060";
}
.Ultimate-set-uniE061:before {
	content: "\e061";
}
.Ultimate-set-uniE062:before {
	content: "\e062";
}
.Ultimate-set-uniE063:before {
	content: "\e063";
}
.Ultimate-set-uniE064:before {
	content: "\e064";
}
.Ultimate-set-uniE065:before {
	content: "\e065";
}
.Ultimate-set-uniE066:before {
	content: "\e066";
}
.Ultimate-set-uniE067:before {
	content: "\e067";
}
.Ultimate-set-uniE068:before {
	content: "\e068";
}
.Ultimate-set-uniE069:before {
	content: "\e069";
}
.Ultimate-set-uniE06A:before {
	content: "\e06a";
}
.Ultimate-set-uniE06B:before {
	content: "\e06b";
}
.Ultimate-set-uniE06C:before {
	content: "\e06c";
}
.Ultimate-set-uniE06D:before {
	content: "\e06d";
}
.Ultimate-set-uniE06E:before {
	content: "\e06e";
}
.Ultimate-set-uniE06F:before {
	content: "\e06f";
}
.Ultimate-set-uniE070:before {
	content: "\e070";
}
.Ultimate-set-uniE071:before {
	content: "\e071";
}
.Ultimate-set-uniE072:before {
	content: "\e072";
}
.Ultimate-set-uniE073:before {
	content: "\e073";
}
.Ultimate-set-uniE074:before {
	content: "\e074";
}
.Ultimate-set-uniE075:before {
	content: "\e075";
}
.Ultimate-set-uniE076:before {
	content: "\e076";
}
.Ultimate-set-uniE077:before {
	content: "\e077";
}
.Ultimate-set-uniE078:before {
	content: "\e078";
}
.Ultimate-set-uniE090:before {
	content: "\e090";
}
.Ultimate-set-uniE091:before {
	content: "\e091";
}
.Ultimate-set-uniE093:before {
	content: "\e093";
}
.Ultimate-set-uniE094:before {
	content: "\e094";
}
.Ultimate-set-uniE095:before {
	content: "\e095";
}
.Ultimate-set-uniE096:before {
	content: "\e096";
}
.Ultimate-set-uniE097:before {
	content: "\e097";
}
.Ultimate-set-uniE116:before {
	content: "\e116";
}
.Ultimate-set-uniE117:before {
	content: "\e117";
}
.Ultimate-set-uniE118:before {
	content: "\e118";
}
.Ultimate-set-uniE127:before {
	content: "\e127";
}
.Ultimate-set-uniE129:before {
	content: "\e129";
}
.Ultimate-set-uniE600:before {
	content: "\e600";
}
.Ultimate-set-uniE601:before {
	content: "\e601";
}
.Ultimate-set-uniE602:before {
	content: "\e602";
}
.Ultimate-set-uniE603:before {
	content: "\e603";
}
.Ultimate-set-uniE604:before {
	content: "\e604";
}
.Ultimate-set-uniE605:before {
	content: "\e605";
}
.Ultimate-set-uniE606:before {
	content: "\e606";
}
.Ultimate-set-uniE607:before {
	content: "\e607";
}
.Ultimate-set-uniE608:before {
	content: "\e608";
}
.Ultimate-set-uniE609:before {
	content: "\e609";
}
.Ultimate-set-uniE60A:before {
	content: "\e60a";
}
.Ultimate-set-uniE60B:before {
	content: "\e60b";
}
.Ultimate-set-uniE60C:before {
	content: "\e60c";
}
.Ultimate-set-uniE60D:before {
	content: "\e60d";
}
.Ultimate-set-uniE60E:before {
	content: "\e60e";
}
.Ultimate-set-uniE60F:before {
	content: "\e60f";
}
.Ultimate-set-uniE610:before {
	content: "\e610";
}
.Ultimate-set-uniE611:before {
	content: "\e611";
}
.Ultimate-set-uniE612:before {
	content: "\e612";
}
.Ultimate-set-uniE613:before {
	content: "\e613";
}
.Ultimate-set-uniE614:before {
	content: "\e614";
}
.Ultimate-set-uniE615:before {
	content: "\e615";
}
.Ultimate-set-uniE616:before {
	content: "\e616";
}
.Ultimate-set-uniE617:before {
	content: "\e617";
}
.Ultimate-set-uniE618:before {
	content: "\e618";
}
.Ultimate-set-uniE619:before {
	content: "\e619";
}
.Ultimate-set-uniE61A:before {
	content: "\e61a";
}
.Ultimate-set-uniE61B:before {
	content: "\e61b";
}
.Ultimate-set-uniE61C:before {
	content: "\e61c";
}
.Ultimate-set-uniE61D:before {
	content: "\e61d";
}
.Ultimate-set-uniE61E:before {
	content: "\e61e";
}
.Ultimate-set-uniE61F:before {
	content: "\e61f";
}
.Ultimate-set-uniE620:before {
	content: "\e620";
}
.Ultimate-set-uniE621:before {
	content: "\e621";
}
.Ultimate-set-uniE622:before {
	content: "\e622";
}
.Ultimate-set-uniE623:before {
	content: "\e623";
}
.Ultimate-set-uniE624:before {
	content: "\e624";
}
.Ultimate-set-uniE625:before {
	content: "\e625";
}
.Ultimate-set-uniE626:before {
	content: "\e626";
}
.Ultimate-set-uniE627:before {
	content: "\e627";
}
.Ultimate-set-uniE628:before {
	content: "\e628";
}
.Ultimate-set-uniE629:before {
	content: "\e629";
}
.Ultimate-set-uniE62A:before {
	content: "\e62a";
}
.Ultimate-set-uniE62B:before {
	content: "\e62b";
}
.Ultimate-set-uniE62C:before {
	content: "\e62c";
}
.Ultimate-set-uniE62D:before {
	content: "\e62d";
}
.Ultimate-set-uniE62E:before {
	content: "\e62e";
}
.Ultimate-set-uniE62F:before {
	content: "\e62f";
}
.Ultimate-set-uniE630:before {
	content: "\e630";
}
.Ultimate-set-uniE631:before {
	content: "\e631";
}
.Ultimate-set-uniE632:before {
	content: "\e632";
}
.Ultimate-set-uniE633:before {
	content: "\e633";
}
.Ultimate-set-uniE634:before {
	content: "\e634";
}
.Ultimate-set-uniE635:before {
	content: "\e635";
}
.Ultimate-set-uniE636:before {
	content: "\e636";
}
.Ultimate-set-uniE637:before {
	content: "\e637";
}
.Ultimate-set-uniE638:before {
	content: "\e638";
}
.Ultimate-set-uniE639:before {
	content: "\e639";
}
.Ultimate-set-uniE63A:before {
	content: "\e63a";
}
.Ultimate-set-uniE63B:before {
	content: "\e63b";
}
.Ultimate-set-uniE63C:before {
	content: "\e63c";
}
.Ultimate-set-uniE63D:before {
	content: "\e63d";
}
.Ultimate-set-uniE63E:before {
	content: "\e63e";
}
.Ultimate-set-uniE63F:before {
	content: "\e63f";
}
.Ultimate-set-uniE640:before {
	content: "\e640";
}
.Ultimate-set-uniE641:before {
	content: "\e641";
}
.Ultimate-set-uniE642:before {
	content: "\e642";
}
.Ultimate-set-uniE643:before {
	content: "\e643";
}
.Ultimate-set-uniE644:before {
	content: "\e644";
}
.Ultimate-set-uniE645:before {
	content: "\e645";
}
.Ultimate-set-uniE646:before {
	content: "\e646";
}
.Ultimate-set-uniE647:before {
	content: "\e647";
}
.Ultimate-set-uniE648:before {
	content: "\e648";
}
.Ultimate-set-uniE649:before {
	content: "\e649";
}
.Ultimate-set-uniE64A:before {
	content: "\e64a";
}
.Ultimate-set-uniE64B:before {
	content: "\e64b";
}
.Ultimate-set-uniE64C:before {
	content: "\e64c";
}
.Ultimate-set-uniE64D:before {
	content: "\e64d";
}
.Ultimate-set-uniE64E:before {
	content: "\e64e";
}
.Ultimate-set-uniE64F:before {
	content: "\e64f";
}
.Ultimate-set-uniE650:before {
	content: "\e650";
}
.Ultimate-set-uniE651:before {
	content: "\e651";
}
.Ultimate-set-uniE652:before {
	content: "\e652";
}
.Ultimate-set-uniE653:before {
	content: "\e653";
}
.Ultimate-set-uniE654:before {
	content: "\e654";
}
.Ultimate-set-uniE655:before {
	content: "\e655";
}
.Ultimate-set-uniE656:before {
	content: "\e656";
}
.Ultimate-set-uniE657:before {
	content: "\e657";
}
.Ultimate-set-uniE658:before {
	content: "\e658";
}
.Ultimate-set-uniE659:before {
	content: "\e659";
}
.Ultimate-set-uniE65A:before {
	content: "\e65a";
}
.Ultimate-set-uniE65B:before {
	content: "\e65b";
}
.Ultimate-set-uniE65C:before {
	content: "\e65c";
}
.Ultimate-set-uniE65D:before {
	content: "\e65d";
}
.Ultimate-set-uniE65E:before {
	content: "\e65e";
}
.Ultimate-set-uniE65F:before {
	content: "\e65f";
}
.Ultimate-set-uniE660:before {
	content: "\e660";
}
.Ultimate-set-uniE661:before {
	content: "\e661";
}
.Ultimate-set-uniE662:before {
	content: "\e662";
}
.Ultimate-set-uniE663:before {
	content: "\e663";
}
.Ultimate-set-uniE664:before {
	content: "\e664";
}
.Ultimate-set-uniE665:before {
	content: "\e665";
}
.Ultimate-set-uniE666:before {
	content: "\e666";
}
.Ultimate-set-uniE667:before {
	content: "\e667";
}
.Ultimate-set-uniE668:before {
	content: "\e668";
}
.Ultimate-set-uniE669:before {
	content: "\e669";
}
.Ultimate-set-uniE66A:before {
	content: "\e66a";
}
.Ultimate-set-uniE66B:before {
	content: "\e66b";
}
.Ultimate-set-uniE66C:before {
	content: "\e66c";
}
.Ultimate-set-uniE66D:before {
	content: "\e66d";
}
.Ultimate-set-uniE66E:before {
	content: "\e66e";
}
.Ultimate-set-uniE66F:before {
	content: "\e66f";
}
.Ultimate-set-uniE670:before {
	content: "\e670";
}
.Ultimate-set-uniE671:before {
	content: "\e671";
}
.Ultimate-set-uniE672:before {
	content: "\e672";
}
.Ultimate-set-uniE673:before {
	content: "\e673";
}
.Ultimate-set-uniE674:before {
	content: "\e674";
}
.Ultimate-set-uniE675:before {
	content: "\e675";
}
.Ultimate-set-uniE676:before {
	content: "\e676";
}
.Ultimate-set-uniE677:before {
	content: "\e677";
}
.Ultimate-set-uniE678:before {
	content: "\e678";
}
.Ultimate-set-uniE679:before {
	content: "\e679";
}
.Ultimate-set-uniE67A:before {
	content: "\e67a";
}
.Ultimate-set-uniE67B:before {
	content: "\e67b";
}
.Ultimate-set-uniE67C:before {
	content: "\e67c";
}
.Ultimate-set-uniE67D:before {
	content: "\e67d";
}
.Ultimate-set-uniE67E:before {
	content: "\e67e";
}
.Ultimate-set-uniE67F:before {
	content: "\e67f";
}
.Ultimate-set-uniE680:before {
	content: "\e680";
}
.Ultimate-set-uniE681:before {
	content: "\e681";
}
.Ultimate-set-uniE682:before {
	content: "\e682";
}
.Ultimate-set-uniE683:before {
	content: "\e683";
}
.Ultimate-set-uniE684:before {
	content: "\e684";
}
.Ultimate-set-uniE685:before {
	content: "\e685";
}
.Ultimate-set-uniE686:before {
	content: "\e686";
}
.Ultimate-set-uniE687:before {
	content: "\e687";
}
.Ultimate-set-uniE688:before {
	content: "\e688";
}
.Ultimate-set-uniE689:before {
	content: "\e689";
}
.Ultimate-set-uniE68A:before {
	content: "\e68a";
}
.Ultimate-set-uniE68B:before {
	content: "\e68b";
}
.Ultimate-set-uniE68C:before {
	content: "\e68c";
}
.Ultimate-set-uniE68D:before {
	content: "\e68d";
}
.Ultimate-set-uniE68E:before {
	content: "\e68e";
}
.Ultimate-set-uniE68F:before {
	content: "\e68f";
}
.Ultimate-set-uniE690:before {
	content: "\e690";
}
.Ultimate-set-uniE691:before {
	content: "\e691";
}
.Ultimate-set-uniE692:before {
	content: "\e692";
}
.Ultimate-set-uniE693:before {
	content: "\e693";
}
.Ultimate-set-uniE694:before {
	content: "\e694";
}
.Ultimate-set-uniE695:before {
	content: "\e695";
}
.Ultimate-set-uniE696:before {
	content: "\e696";
}
.Ultimate-set-uniE697:before {
	content: "\e697";
}
.Ultimate-set-uniE698:before {
	content: "\e698";
}
.Ultimate-set-uniE699:before {
	content: "\e699";
}
.Ultimate-set-uniE69A:before {
	content: "\e69a";
}
.Ultimate-set-uniE69B:before {
	content: "\e69b";
}
.Ultimate-set-uniE69C:before {
	content: "\e69c";
}
.Ultimate-set-uniE69D:before {
	content: "\e69d";
}
.Ultimate-set-uniE69E:before {
	content: "\e69e";
}
.Ultimate-set-uniE69F:before {
	content: "\e69f";
}
.Ultimate-set-uniE6A0:before {
	content: "\e6a0";
}
.Ultimate-set-uniE6A1:before {
	content: "\e6a1";
}
.Ultimate-set-uniE6A2:before {
	content: "\e6a2";
}
.Ultimate-set-uniE6A3:before {
	content: "\e6a3";
}
.Ultimate-set-uniE6A4:before {
	content: "\e6a4";
}
.Ultimate-set-uniE6A5:before {
	content: "\e6a5";
}
.Ultimate-set-uniE6A6:before {
	content: "\e6a6";
}
.Ultimate-set-uniE6A7:before {
	content: "\e6a7";
}
.Ultimate-set-uniE6A8:before {
	content: "\e6a8";
}
.Ultimate-set-uniE6A9:before {
	content: "\e6a9";
}
.Ultimate-set-uniE6AA:before {
	content: "\e6aa";
}
.Ultimate-set-uniE6AB:before {
	content: "\e6ab";
}
.Ultimate-set-uniE6AC:before {
	content: "\e6ac";
}
.Ultimate-set-uniE6AD:before {
	content: "\e6ad";
}
.Ultimate-set-uniE6AE:before {
	content: "\e6ae";
}
.Ultimate-set-uniE6AF:before {
	content: "\e6af";
}
.Ultimate-set-uniE6B0:before {
	content: "\e6b0";
}
.Ultimate-set-uniE6B1:before {
	content: "\e6b1";
}
.Ultimate-set-uniE6B2:before {
	content: "\e6b2";
}
.Ultimate-set-uniE6B3:before {
	content: "\e6b3";
}
.Ultimate-set-uniE6B4:before {
	content: "\e6b4";
}
.Ultimate-set-uniE6B5:before {
	content: "\e6b5";
}
.Ultimate-set-uniE6B6:before {
	content: "\e6b6";
}
.Ultimate-set-uniE6B7:before {
	content: "\e6b7";
}
.Ultimate-set-uniE6B8:before {
	content: "\e6b8";
}
.Ultimate-set-uniE6B9:before {
	content: "\e6b9";
}
.Ultimate-set-uniE6BA:before {
	content: "\e6ba";
}
.Ultimate-set-uniE6BB:before {
	content: "\e6bb";
}
.Ultimate-set-uniE6BC:before {
	content: "\e6bc";
}
.Ultimate-set-uniE6BD:before {
	content: "\e6bd";
}
.Ultimate-set-uniE6BE:before {
	content: "\e6be";
}
.Ultimate-set-uniE6BF:before {
	content: "\e6bf";
}
.Ultimate-set-uniE6C0:before {
	content: "\e6c0";
}
.Ultimate-set-uniE6C1:before {
	content: "\e6c1";
}
.Ultimate-set-uniE6C2:before {
	content: "\e6c2";
}
.Ultimate-set-uniE6C3:before {
	content: "\e6c3";
}
.Ultimate-set-uniE6C4:before {
	content: "\e6c4";
}
.Ultimate-set-uniE6C5:before {
	content: "\e6c5";
}
.Ultimate-set-uniE6C6:before {
	content: "\e6c6";
}
.Ultimate-set-uniE6C7:before {
	content: "\e6c7";
}
.Ultimate-set-uniE6C8:before {
	content: "\e6c8";
}
.Ultimate-set-uniE6C9:before {
	content: "\e6c9";
}
.Ultimate-set-uniE6CA:before {
	content: "\e6ca";
}
.Ultimate-set-uniE6CB:before {
	content: "\e6cb";
}
.Ultimate-set-uniE6CC:before {
	content: "\e6cc";
}
.Ultimate-set-uniE6CD:before {
	content: "\e6cd";
}
.Ultimate-set-uniE6CE:before {
	content: "\e6ce";
}
.Ultimate-set-uniE6CF:before {
	content: "\e6cf";
}
.Ultimate-set-uniE6D0:before {
	content: "\e6d0";
}
.Ultimate-set-uniE6D1:before {
	content: "\e6d1";
}
.Ultimate-set-uniE6D2:before {
	content: "\e6d2";
}
.Ultimate-set-uniE6D3:before {
	content: "\e6d3";
}
.Ultimate-set-uniE6D4:before {
	content: "\e6d4";
}
.Ultimate-set-uniE6D5:before {
	content: "\e6d5";
}
.Ultimate-set-uniE6D6:before {
	content: "\e6d6";
}
.Ultimate-set-uniE6D7:before {
	content: "\e6d7";
}
.Ultimate-set-uniE6D8:before {
	content: "\e6d8";
}
.Ultimate-set-uniE6D9:before {
	content: "\e6d9";
}
.Ultimate-set-uniE6DA:before {
	content: "\e6da";
}
.Ultimate-set-uniE6DB:before {
	content: "\e6db";
}
.Ultimate-set-uniE6DC:before {
	content: "\e6dc";
}
.Ultimate-set-uniE6DD:before {
	content: "\e6dd";
}
.Ultimate-set-uniE6DE:before {
	content: "\e6de";
}
.Ultimate-set-uniE6DF:before {
	content: "\e6df";
}
.Ultimate-set-uniE6E0:before {
	content: "\e6e0";
}
.Ultimate-set-uniE6E1:before {
	content: "\e6e1";
}
.Ultimate-set-uniE6E2:before {
	content: "\e6e2";
}
.Ultimate-set-uniE6E3:before {
	content: "\e6e3";
}
.Ultimate-set-uniE6E4:before {
	content: "\e6e4";
}
.Ultimate-set-uniE6E5:before {
	content: "\e6e5";
}
.Ultimate-set-uniE6E6:before {
	content: "\e6e6";
}
.Ultimate-set-uniE6E7:before {
	content: "\e6e7";
}
.Ultimate-set-uniE6E8:before {
	content: "\e6e8";
}
.Ultimate-set-uniE6E9:before {
	content: "\e6e9";
}
.Ultimate-set-uniE6EA:before {
	content: "\e6ea";
}
.Ultimate-set-uniE6EB:before {
	content: "\e6eb";
}
.Ultimate-set-uniE6EC:before {
	content: "\e6ec";
}
.Ultimate-set-uniE6ED:before {
	content: "\e6ed";
}
.Ultimate-set-uniE6EE:before {
	content: "\e6ee";
}
.Ultimate-set-uniE6EF:before {
	content: "\e6ef";
}
.Ultimate-set-uniE6F0:before {
	content: "\e6f0";
}
.Ultimate-set-uniE6F1:before {
	content: "\e6f1";
}
.Ultimate-set-uniE6F2:before {
	content: "\e6f2";
}
.Ultimate-set-uniE6F3:before {
	content: "\e6f3";
}
.Ultimate-set-uniE6F4:before {
	content: "\e6f4";
}
.Ultimate-set-uniE6F5:before {
	content: "\e6f5";
}
.Ultimate-set-uniE6F6:before {
	content: "\e6f6";
}
.Ultimate-set-uniE6F7:before {
	content: "\e6f7";
}
.Ultimate-set-uniE6F8:before {
	content: "\e6f8";
}
.Ultimate-set-uniE6F9:before {
	content: "\e6f9";
}
.Ultimate-set-uniE6FA:before {
	content: "\e6fa";
}
.Ultimate-set-uniE6FB:before {
	content: "\e6fb";
}
.Ultimate-set-uniE6FC:before {
	content: "\e6fc";
}
.Ultimate-set-uniE6FD:before {
	content: "\e6fd";
}
.Ultimate-set-uniE6FE:before {
	content: "\e6fe";
}
.Ultimate-set-uniE6FF:before {
	content: "\e6ff";
}
.Ultimate-set-uniE700:before {
	content: "\e700";
}
.Ultimate-set-uniE701:before {
	content: "\e701";
}
.Ultimate-set-uniE702:before {
	content: "\e702";
}
.Ultimate-set-uniE703:before {
	content: "\e703";
}
.Ultimate-set-uniE704:before {
	content: "\e704";
}
.Ultimate-set-uniE705:before {
	content: "\e705";
}
.Ultimate-set-uniE706:before {
	content: "\e706";
}
.Ultimate-set-uniE707:before {
	content: "\e707";
}
.Ultimate-set-uniE708:before {
	content: "\e708";
}
.Ultimate-set-uniE709:before {
	content: "\e709";
}
.Ultimate-set-uniE70A:before {
	content: "\e70a";
}
.Ultimate-set-uniE70B:before {
	content: "\e70b";
}
.Ultimate-set-uniE70C:before {
	content: "\e70c";
}
.Ultimate-set-uniE70D:before {
	content: "\e70d";
}
.Ultimate-set-uniE70E:before {
	content: "\e70e";
}
.Ultimate-set-uniE70F:before {
	content: "\e70f";
}
.Ultimate-set-uniE710:before {
	content: "\e710";
}
.Ultimate-set-uniE711:before {
	content: "\e711";
}
.Ultimate-set-uniE712:before {
	content: "\e712";
}
.Ultimate-set-uniE713:before {
	content: "\e713";
}
.Ultimate-set-uniE714:before {
	content: "\e714";
}
.Ultimate-set-uniE715:before {
	content: "\e715";
}
.Ultimate-set-uniE716:before {
	content: "\e716";
}
.Ultimate-set-uniE717:before {
	content: "\e717";
}
.Ultimate-set-uniE718:before {
	content: "\e718";
}
.Ultimate-set-uniE719:before {
	content: "\e719";
}
.Ultimate-set-uniE71A:before {
	content: "\e71a";
}
.Ultimate-set-uniE71B:before {
	content: "\e71b";
}
.Ultimate-set-uniE71C:before {
	content: "\e71c";
}
.Ultimate-set-uniE71D:before {
	content: "\e71d";
}
.Ultimate-set-uniE71E:before {
	content: "\e71e";
}
.Ultimate-set-uniE71F:before {
	content: "\e71f";
}
.Ultimate-set-uniE720:before {
	content: "\e720";
}
.Ultimate-set-uniE721:before {
	content: "\e721";
}
.Ultimate-set-uniE722:before {
	content: "\e722";
}
.Ultimate-set-uniE723:before {
	content: "\e723";
}
.Ultimate-set-uniE724:before {
	content: "\e724";
}
.Ultimate-set-uniE725:before {
	content: "\e725";
}
.Ultimate-set-uniE726:before {
	content: "\e726";
}
.Ultimate-set-uniE727:before {
	content: "\e727";
}
.Ultimate-set-uniE728:before {
	content: "\e728";
}
.Ultimate-set-uniE729:before {
	content: "\e729";
}
.Ultimate-set-uniE72A:before {
	content: "\e72a";
}
.Ultimate-set-uniE72B:before {
	content: "\e72b";
}
.Ultimate-set-uniE72C:before {
	content: "\e72c";
}
.Ultimate-set-uniE72D:before {
	content: "\e72d";
}
.Ultimate-set-uniE72E:before {
	content: "\e72e";
}
.Ultimate-set-uniE72F:before {
	content: "\e72f";
}
.Ultimate-set-uniE730:before {
	content: "\e730";
}
.Ultimate-set-uniE731:before {
	content: "\e731";
}
.Ultimate-set-uniE732:before {
	content: "\e732";
}
.Ultimate-set-uniE733:before {
	content: "\e733";
}
.Ultimate-set-uniE734:before {
	content: "\e734";
}
.Ultimate-set-uniE735:before {
	content: "\e735";
}
.Ultimate-set-uniE736:before {
	content: "\e736";
}
.Ultimate-set-uniE737:before {
	content: "\e737";
}
.Ultimate-set-uniE738:before {
	content: "\e738";
}
.Ultimate-set-uniE739:before {
	content: "\e739";
}
.Ultimate-set-uniE73A:before {
	content: "\e73a";
}
.Ultimate-set-uniE73B:before {
	content: "\e73b";
}
.Ultimate-set-uniE73C:before {
	content: "\e73c";
}
.Ultimate-set-uniE73D:before {
	content: "\e73d";
}
.Ultimate-set-uniE73E:before {
	content: "\e73e";
}
.Ultimate-set-uniE73F:before {
	content: "\e73f";
}
.Ultimate-set-uniE740:before {
	content: "\e740";
}
.Ultimate-set-uniE741:before {
	content: "\e741";
}
.Ultimate-set-uniE742:before {
	content: "\e742";
}
.Ultimate-set-uniE743:before {
	content: "\e743";
}
.Ultimate-set-uniE744:before {
	content: "\e744";
}
.Ultimate-set-uniE745:before {
	content: "\e745";
}
.Ultimate-set-uniE746:before {
	content: "\e746";
}
.Ultimate-set-uniE747:before {
	content: "\e747";
}
.Ultimate-set-uniE748:before {
	content: "\e748";
}
.Ultimate-set-uniE749:before {
	content: "\e749";
}
.Ultimate-set-uniE74A:before {
	content: "\e74a";
}
.Ultimate-set-uniE74B:before {
	content: "\e74b";
}
.Ultimate-set-uniE74C:before {
	content: "\e74c";
}
.Ultimate-set-uniE74D:before {
	content: "\e74d";
}
.Ultimate-set-uniE74E:before {
	content: "\e74e";
}
.Ultimate-set-uniE74F:before {
	content: "\e74f";
}
.Ultimate-set-uniE750:before {
	content: "\e750";
}
.Ultimate-set-uniE751:before {
	content: "\e751";
}
.Ultimate-set-uniE752:before {
	content: "\e752";
}
.Ultimate-set-uniE753:before {
	content: "\e753";
}
.Ultimate-set-uniE754:before {
	content: "\e754";
}
.Ultimate-set-uniE755:before {
	content: "\e755";
}
.Ultimate-set-uniE756:before {
	content: "\e756";
}
.Ultimate-set-uniE757:before {
	content: "\e757";
}
.Ultimate-set-uniE758:before {
	content: "\e758";
}
.Ultimate-set-uniE759:before {
	content: "\e759";
}
.Ultimate-set-uniE75A:before {
	content: "\e75a";
}
.Ultimate-set-uniE75B:before {
	content: "\e75b";
}
.Ultimate-set-uniE75C:before {
	content: "\e75c";
}
.Ultimate-set-uniE75D:before {
	content: "\e75d";
}
.Ultimate-set-uniE75E:before {
	content: "\e75e";
}
.Ultimate-set-uniE75F:before {
	content: "\e75f";
}
.Ultimate-set-uniE760:before {
	content: "\e760";
}
.Ultimate-set-uniE761:before {
	content: "\e761";
}
.Ultimate-set-uniE762:before {
	content: "\e762";
}
.Ultimate-set-uniE763:before {
	content: "\e763";
}
.Ultimate-set-uniE764:before {
	content: "\e764";
}
.Ultimate-set-uniE765:before {
	content: "\e765";
}
.Ultimate-set-uniE766:before {
	content: "\e766";
}
.Ultimate-set-uniE767:before {
	content: "\e767";
}
.Ultimate-set-uniE768:before {
	content: "\e768";
}
.Ultimate-set-uniE769:before {
	content: "\e769";
}
.Ultimate-set-uniE76A:before {
	content: "\e76a";
}
.Ultimate-set-uniE76B:before {
	content: "\e76b";
}
.Ultimate-set-uniE76C:before {
	content: "\e76c";
}
.Ultimate-set-uniE76D:before {
	content: "\e76d";
}
.Ultimate-set-uniE76E:before {
	content: "\e76e";
}
.Ultimate-set-uniE76F:before {
	content: "\e76f";
}
.Ultimate-set-uniE770:before {
	content: "\e770";
}
.Ultimate-set-uniE771:before {
	content: "\e771";
}
.Ultimate-set-uniE772:before {
	content: "\e772";
}
.Ultimate-set-uniE773:before {
	content: "\e773";
}
.Ultimate-set-uniE774:before {
	content: "\e774";
}
.Ultimate-set-uniE775:before {
	content: "\e775";
}
.Ultimate-set-uniE776:before {
	content: "\e776";
}
.Ultimate-set-uniE777:before {
	content: "\e777";
}
.Ultimate-set-uniE778:before {
	content: "\e778";
}
.Ultimate-set-uniE779:before {
	content: "\e779";
}
.Ultimate-set-uniE77A:before {
	content: "\e77a";
}
.Ultimate-set-uniE77B:before {
	content: "\e77b";
}
.Ultimate-set-uniE77C:before {
	content: "\e77c";
}
.Ultimate-set-uniE77D:before {
	content: "\e77d";
}
.Ultimate-set-uniE77E:before {
	content: "\e77e";
}
.Ultimate-set-uniE77F:before {
	content: "\e77f";
}
.Ultimate-set-uniE780:before {
	content: "\e780";
}
.Ultimate-set-uniE781:before {
	content: "\e781";
}
.Ultimate-set-uniE782:before {
	content: "\e782";
}
.Ultimate-set-uniE783:before {
	content: "\e783";
}
.Ultimate-set-uniE784:before {
	content: "\e784";
}
.Ultimate-set-uniE785:before {
	content: "\e785";
}
.Ultimate-set-uniE786:before {
	content: "\e786";
}
.Ultimate-set-uniE787:before {
	content: "\e787";
}
.Ultimate-set-uniE788:before {
	content: "\e788";
}
.Ultimate-set-uniE789:before {
	content: "\e789";
}
.Ultimate-set-uniE78A:before {
	content: "\e78a";
}
.Ultimate-set-uniE78B:before {
	content: "\e78b";
}
.Ultimate-set-uniE78C:before {
	content: "\e78c";
}
.Ultimate-set-uniE78D:before {
	content: "\e78d";
}
.Ultimate-set-uniE78E:before {
	content: "\e78e";
}
.Ultimate-set-uniE78F:before {
	content: "\e78f";
}
.Ultimate-set-uniE790:before {
	content: "\e790";
}
.Ultimate-set-uniE791:before {
	content: "\e791";
}
.Ultimate-set-uniE792:before {
	content: "\e792";
}
.Ultimate-set-uniE793:before {
	content: "\e793";
}
.Ultimate-set-uniE794:before {
	content: "\e794";
}
.Ultimate-set-uniE795:before {
	content: "\e795";
}
.Ultimate-set-uniE796:before {
	content: "\e796";
}
.Ultimate-set-uniE797:before {
	content: "\e797";
}
.Ultimate-set-uniE798:before {
	content: "\e798";
}
.Ultimate-set-uniE799:before {
	content: "\e799";
}
.Ultimate-set-uniE79A:before {
	content: "\e79a";
}
.Ultimate-set-uniE79B:before {
	content: "\e79b";
}
.Ultimate-set-uniE79C:before {
	content: "\e79c";
}
.Ultimate-set-uniE79D:before {
	content: "\e79d";
}
.Ultimate-set-uniE79E:before {
	content: "\e79e";
}
.Ultimate-set-uniE79F:before {
	content: "\e79f";
}
.Ultimate-set-uniE7A0:before {
	content: "\e7a0";
}
.Ultimate-set-uniE7A1:before {
	content: "\e7a1";
}
.Ultimate-set-uniE7A2:before {
	content: "\e7a2";
}
.Ultimate-set-uniE7A3:before {
	content: "\e7a3";
}
.Ultimate-set-uniE7A4:before {
	content: "\e7a4";
}
.Ultimate-set-uniE7A5:before {
	content: "\e7a5";
}
.Ultimate-set-uniE7A6:before {
	content: "\e7a6";
}
.Ultimate-set-uniE7A7:before {
	content: "\e7a7";
}
.Ultimate-set-uniE7A8:before {
	content: "\e7a8";
}
.Ultimate-set-uniE7A9:before {
	content: "\e7a9";
}
.Ultimate-set-uniE7AA:before {
	content: "\e7aa";
}
.Ultimate-set-uniE7AB:before {
	content: "\e7ab";
}
.Ultimate-set-uniE7AC:before {
	content: "\e7ac";
}
.Ultimate-set-uniE7AD:before {
	content: "\e7ad";
}
.Ultimate-set-uniE7AE:before {
	content: "\e7ae";
}
.Ultimate-set-uniE7AF:before {
	content: "\e7af";
}
.Ultimate-set-uniE7B0:before {
	content: "\e7b0";
}
.Ultimate-set-uniE7B1:before {
	content: "\e7b1";
}
.Ultimate-set-uniE7B2:before {
	content: "\e7b2";
}
.Ultimate-set-uniE7B3:before {
	content: "\e7b3";
}
.Ultimate-set-uniE7B4:before {
	content: "\e7b4";
}
.Ultimate-set-uniE7B5:before {
	content: "\e7b5";
}
.Ultimate-set-uniE7B6:before {
	content: "\e7b6";
}
.Ultimate-set-uniE7B7:before {
	content: "\e7b7";
}
.Ultimate-set-uniE7B8:before {
	content: "\e7b8";
}
.Ultimate-set-uniE7B9:before {
	content: "\e7b9";
}
.Ultimate-set-uniE7BA:before {
	content: "\e7ba";
}
.Ultimate-set-uniE7BB:before {
	content: "\e7bb";
}
.Ultimate-set-uniE7BC:before {
	content: "\e7bc";
}
.Ultimate-set-uniE7BD:before {
	content: "\e7bd";
}
.Ultimate-set-uniE7BE:before {
	content: "\e7be";
}
.Ultimate-set-uniE7BF:before {
	content: "\e7bf";
}
.Ultimate-set-uniE7C0:before {
	content: "\e7c0";
}
.Ultimate-set-uniE7C1:before {
	content: "\e7c1";
}
.Ultimate-set-uniE7C2:before {
	content: "\e7c2";
}
.Ultimate-set-uniE7C3:before {
	content: "\e7c3";
}
.Ultimate-set-uniE7C4:before {
	content: "\e7c4";
}
.Ultimate-set-uniE7C5:before {
	content: "\e7c5";
}
.Ultimate-set-uniE7C6:before {
	content: "\e7c6";
}
.Ultimate-set-uniE7C7:before {
	content: "\e7c7";
}
.Ultimate-set-uniE7C8:before {
	content: "\e7c8";
}
.Ultimate-set-uniE7C9:before {
	content: "\e7c9";
}
.Ultimate-set-uniE7CA:before {
	content: "\e7ca";
}
.Ultimate-set-uniE7CB:before {
	content: "\e7cb";
}
.Ultimate-set-uniE7CC:before {
	content: "\e7cc";
}
.Ultimate-set-uniE7CD:before {
	content: "\e7cd";
}
.Ultimate-set-uniE7CE:before {
	content: "\e7ce";
}
.Ultimate-set-uniE7CF:before {
	content: "\e7cf";
}
.Ultimate-set-uniE7D0:before {
	content: "\e7d0";
}
.Ultimate-set-uniE7D1:before {
	content: "\e7d1";
}
.Ultimate-set-uniE7D2:before {
	content: "\e7d2";
}
.Ultimate-set-uniE7D3:before {
	content: "\e7d3";
}
.Ultimate-set-uniE7D4:before {
	content: "\e7d4";
}
.Ultimate-set-uniE7D5:before {
	content: "\e7d5";
}
.Ultimate-set-uniE7D6:before {
	content: "\e7d6";
}
.Ultimate-set-uniE7D7:before {
	content: "\e7d7";
}
.Ultimate-set-uniE7D8:before {
	content: "\e7d8";
}
.Ultimate-set-uniE7D9:before {
	content: "\e7d9";
}
.Ultimate-set-uniE7DA:before {
	content: "\e7da";
}
.Ultimate-set-uniE7DB:before {
	content: "\e7db";
}
.Ultimate-set-uniE7DC:before {
	content: "\e7dc";
}
.Ultimate-set-uniE7DD:before {
	content: "\e7dd";
}
.Ultimate-set-uniE7DE:before {
	content: "\e7de";
}
.Ultimate-set-uniE7DF:before {
	content: "\e7df";
}
.Ultimate-set-uniE7E0:before {
	content: "\e7e0";
}
.Ultimate-set-uniE7E1:before {
	content: "\e7e1";
}
.Ultimate-set-uniE7E2:before {
	content: "\e7e2";
}
.Ultimate-set-uniE7E3:before {
	content: "\e7e3";
}
.Ultimate-set-uniE7E4:before {
	content: "\e7e4";
}
.Ultimate-set-uniE7E5:before {
	content: "\e7e5";
}
.Ultimate-set-uniE7E6:before {
	content: "\e7e6";
}
.Ultimate-set-uniE7E7:before {
	content: "\e7e7";
}
.Ultimate-set-uniE7E8:before {
	content: "\e7e8";
}
.Ultimate-set-uniE7E9:before {
	content: "\e7e9";
}
.Ultimate-set-uniE7EA:before {
	content: "\e7ea";
}
.Ultimate-set-uniE7EB:before {
	content: "\e7eb";
}
.Ultimate-set-uniE7EC:before {
	content: "\e7ec";
}
.Ultimate-set-uniE7ED:before {
	content: "\e7ed";
}
.Ultimate-set-uniE7EE:before {
	content: "\e7ee";
}
.Ultimate-set-uniE7EF:before {
	content: "\e7ef";
}
.Ultimate-set-uniE7F0:before {
	content: "\e7f0";
}
.Ultimate-set-uniE7F1:before {
	content: "\e7f1";
}
.Ultimate-set-uniE7F2:before {
	content: "\e7f2";
}
.Ultimate-set-uniE7F3:before {
	content: "\e7f3";
}
.Ultimate-set-uniE7F4:before {
	content: "\e7f4";
}
.Ultimate-set-uniE7F5:before {
	content: "\e7f5";
}
.Ultimate-set-uniE7F6:before {
	content: "\e7f6";
}
.Ultimate-set-uniE7F7:before {
	content: "\e7f7";
}
.Ultimate-set-uniE7F8:before {
	content: "\e7f8";
}
.Ultimate-set-uniE7F9:before {
	content: "\e7f9";
}
.Ultimate-set-uniE7FA:before {
	content: "\e7fa";
}
.Ultimate-set-uniE7FB:before {
	content: "\e7fb";
}
.Ultimate-set-uniE7FC:before {
	content: "\e7fc";
}
.Ultimate-set-uniE7FD:before {
	content: "\e7fd";
}
.Ultimate-set-uniE7FE:before {
	content: "\e7fe";
}
.Ultimate-set-uniE7FF:before {
	content: "\e7ff";
}
.Ultimate-set-uniE800:before {
	content: "\e800";
}
.Ultimate-set-uniE801:before {
	content: "\e801";
}
.Ultimate-set-uniE802:before {
	content: "\e802";
}
.Ultimate-set-uniE803:before {
	content: "\e803";
}
.Ultimate-set-uniE804:before {
	content: "\e804";
}
.Ultimate-set-uniE805:before {
	content: "\e805";
}
.Ultimate-set-uniE806:before {
	content: "\e806";
}
.Ultimate-set-uniE807:before {
	content: "\e807";
}
.Ultimate-set-uniE808:before {
	content: "\e808";
}
.Ultimate-set-uniE809:before {
	content: "\e809";
}
.Ultimate-set-uniE80A:before {
	content: "\e80a";
}
.Ultimate-set-uniE80B:before {
	content: "\e80b";
}
.Ultimate-set-uniE80C:before {
	content: "\e80c";
}
.Ultimate-set-uniE80D:before {
	content: "\e80d";
}
.Ultimate-set-uniE80E:before {
	content: "\e80e";
}
.Ultimate-set-uniE80F:before {
	content: "\e80f";
}
.Ultimate-set-uniE810:before {
	content: "\e810";
}
.Ultimate-set-uniE811:before {
	content: "\e811";
}
.Ultimate-set-uniE812:before {
	content: "\e812";
}
.Ultimate-set-uniE813:before {
	content: "\e813";
}
.Ultimate-set-uniE814:before {
	content: "\e814";
}
.Ultimate-set-uniE815:before {
	content: "\e815";
}
.Ultimate-set-uniE816:before {
	content: "\e816";
}
.Ultimate-set-uniE817:before {
	content: "\e817";
}
.Ultimate-set-uniE818:before {
	content: "\e818";
}
.Ultimate-set-uniE819:before {
	content: "\e819";
}
.Ultimate-set-uniE81A:before {
	content: "\e81a";
}
.Ultimate-set-uniE81B:before {
	content: "\e81b";
}
.Ultimate-set-uniE81C:before {
	content: "\e81c";
}
.Ultimate-set-uniE81D:before {
	content: "\e81d";
}
.Ultimate-set-uniE81E:before {
	content: "\e81e";
}
.Ultimate-set-uniE81F:before {
	content: "\e81f";
}
.Ultimate-set-uniE820:before {
	content: "\e820";
}
.Ultimate-set-uniE821:before {
	content: "\e821";
}
.Ultimate-set-uniE822:before {
	content: "\e822";
}
.Ultimate-set-uniE823:before {
	content: "\e823";
}
.Ultimate-set-uniE824:before {
	content: "\e824";
}
.Ultimate-set-uniE825:before {
	content: "\e825";
}
.Ultimate-set-uniE826:before {
	content: "\e826";
}
.Ultimate-set-uniE827:before {
	content: "\e827";
}
.Ultimate-set-uniE828:before {
	content: "\e828";
}
.Ultimate-set-uniE829:before {
	content: "\e829";
}
.Ultimate-set-uniE82A:before {
	content: "\e82a";
}
.Ultimate-set-uniE82B:before {
	content: "\e82b";
}
.Ultimate-set-uniE82C:before {
	content: "\e82c";
}
.Ultimate-set-uniE82D:before {
	content: "\e82d";
}
.Ultimate-set-uniE82E:before {
	content: "\e82e";
}
.Ultimate-set-uniE82F:before {
	content: "\e82f";
}
.Ultimate-set-uniE830:before {
	content: "\e830";
}
.Ultimate-set-uniE831:before {
	content: "\e831";
}
.Ultimate-set-uniE832:before {
	content: "\e832";
}
.Ultimate-set-uniE833:before {
	content: "\e833";
}
.Ultimate-set-uniE834:before {
	content: "\e834";
}
.Ultimate-set-uniE835:before {
	content: "\e835";
}
.Ultimate-set-uniE836:before {
	content: "\e836";
}
.Ultimate-set-uniE837:before {
	content: "\e837";
}
.Ultimate-set-uniE838:before {
	content: "\e838";
}
.Ultimate-set-uniE839:before {
	content: "\e839";
}
.Ultimate-set-uniE83A:before {
	content: "\e83a";
}
.Ultimate-set-uniE83B:before {
	content: "\e83b";
}
.Ultimate-set-uniE83C:before {
	content: "\e83c";
}
.Ultimate-set-uniE83D:before {
	content: "\e83d";
}
.Ultimate-set-uniE83E:before {
	content: "\e83e";
}
.Ultimate-set-uniE83F:before {
	content: "\e83f";
}
.Ultimate-set-uniE840:before {
	content: "\e840";
}
.Ultimate-set-uniE841:before {
	content: "\e841";
}
.Ultimate-set-uniE842:before {
	content: "\e842";
}
.Ultimate-set-uniE843:before {
	content: "\e843";
}
.Ultimate-set-uniE844:before {
	content: "\e844";
}
.Ultimate-set-uniE845:before {
	content: "\e845";
}
.Ultimate-set-uniE846:before {
	content: "\e846";
}
.Ultimate-set-uniE847:before {
	content: "\e847";
}
.Ultimate-set-uniE848:before {
	content: "\e848";
}
.Ultimate-set-uniE849:before {
	content: "\e849";
}
.Ultimate-set-uniE84A:before {
	content: "\e84a";
}
.Ultimate-set-uniE84B:before {
	content: "\e84b";
}
.Ultimate-set-uniE84C:before {
	content: "\e84c";
}
.Ultimate-set-uniE84D:before {
	content: "\e84d";
}
.Ultimate-set-uniE84E:before {
	content: "\e84e";
}
.Ultimate-set-uniE84F:before {
	content: "\e84f";
}
.Ultimate-set-uniE850:before {
	content: "\e850";
}
.Ultimate-set-uniE851:before {
	content: "\e851";
}
.Ultimate-set-uniE852:before {
	content: "\e852";
}
.Ultimate-set-uniE853:before {
	content: "\e853";
}
.Ultimate-set-uniE854:before {
	content: "\e854";
}
.Ultimate-set-uniE855:before {
	content: "\e855";
}
.Ultimate-set-uniE856:before {
	content: "\e856";
}
.Ultimate-set-uniE857:before {
	content: "\e857";
}
.Ultimate-set-uniE858:before {
	content: "\e858";
}
.Ultimate-set-uniE859:before {
	content: "\e859";
}
.Ultimate-set-uniE85A:before {
	content: "\e85a";
}
.Ultimate-set-uniE85B:before {
	content: "\e85b";
}
.Ultimate-set-uniE85C:before {
	content: "\e85c";
}
.Ultimate-set-uniE85D:before {
	content: "\e85d";
}
.Ultimate-set-uniF001:before {
	content: "\f001";
}
.Ultimate-set-uniF004:before {
	content: "\f004";
}
.Ultimate-set-uniF005:before {
	content: "\f005";
}
.Ultimate-set-uniF006:before {
	content: "\f006";
}
.Ultimate-set-uniF009:before {
	content: "\f009";
}
.Ultimate-set-uniF00A:before {
	content: "\f00a";
}
.Ultimate-set-uniF00C:before {
	content: "\f00c";
}
.Ultimate-set-uniF00D:before {
	content: "\f00d";
}
.Ultimate-set-uniF012:before {
	content: "\f012";
}
.Ultimate-set-uniF013:before {
	content: "\f013";
}
.Ultimate-set-uniF017:before {
	content: "\f017";
}
.Ultimate-set-uniF021:before {
	content: "\f021";
}
.Ultimate-set-uniF024:before {
	content: "\f024";
}
.Ultimate-set-uniF036:before {
	content: "\f036";
}
.Ultimate-set-uniF037:before {
	content: "\f037";
}
.Ultimate-set-uniF038:before {
	content: "\f038";
}
.Ultimate-set-uniF039:before {
	content: "\f039";
}
.Ultimate-set-uniF058:before {
	content: "\f058";
}
.Ultimate-set-uniF05A:before {
	content: "\f05a";
}
.Ultimate-set-uniF05E:before {
	content: "\f05e";
}
.Ultimate-set-uniF060:before {
	content: "\f060";
}
.Ultimate-set-uniF061:before {
	content: "\f061";
}
.Ultimate-set-uniF062:before {
	content: "\f062";
}
.Ultimate-set-uniF063:before {
	content: "\f063";
}
.Ultimate-set-uniF069:before {
	content: "\f069";
}
.Ultimate-set-uniF06A:before {
	content: "\f06a";
}
.Ultimate-set-uniF06C:before {
	content: "\f06c";
}
.Ultimate-set-uniF06D:before {
	content: "\f06d";
}
.Ultimate-set-uniF07C:before {
	content: "\f07c";
}
.Ultimate-set-uniF087:before {
	content: "\f087";
}
.Ultimate-set-uniF08A:before {
	content: "\f08a";
}
.Ultimate-set-uniF091:before {
	content: "\f091";
}
.Ultimate-set-uniF0C2:before {
	content: "\f0c2";
}
.Ultimate-set-uniF0D6:before {
	content: "\f0d6";
}
.Ultimate-set-uniF0FB:before {
	content: "\f0fb";
}
.Ultimate-set-uniF100:before {
	content: "\f100";
}
.Ultimate-set-uniF101:before {
	content: "\f101";
}
.Ultimate-set-uniF102:before {
	content: "\f102";
}
.Ultimate-set-uniF103:before {
	content: "\f103";
}
.Ultimate-set-uniF104:before {
	content: "\f104";
}
.Ultimate-set-uniF105:before {
	content: "\f105";
}
.Ultimate-set-uniF106:before {
	content: "\f106";
}
.Ultimate-set-uniF107:before {
	content: "\f107";
}
.Ultimate-set-uniF108:before {
	content: "\f108";
}
.Ultimate-set-uniF109:before {
	content: "\f109";
}
.Ultimate-set-uniF10A:before {
	content: "\f10a";
}
.Ultimate-set-uniF10B:before {
	content: "\f10b";
}
.Ultimate-set-uniF10D:before {
	content: "\f10d";
}
.Ultimate-set-uniF10E:before {
	content: "\f10e";
}
.Ultimate-set-uniF110:before {
	content: "\f110";
}
.Ultimate-set-uniF111:before {
	content: "\f111";
}
.Ultimate-set-uniF114:before {
	content: "\f114";
}
.Ultimate-set-uniF115:before {
	content: "\f115";
}
.Ultimate-set-uniF11D:before {
	content: "\f11d";
}
.Ultimate-set-uniF11E:before {
	content: "\f11e";
}
.Ultimate-set-uniF123:before {
	content: "\f123";
}
.Ultimate-set-uniF124:before {
	content: "\f124";
}
.Ultimate-set-uniF12E:before {
	content: "\f12e";
}
.Ultimate-set-uniF135:before {
	content: "\f135";
}
.Ultimate-set-uniF13B:before {
	content: "\f13b";
}
.Ultimate-set-uniF13C:before {
	content: "\f13c";
}
.Ultimate-set-uniF13D:before {
	content: "\f13d";
}
.Ultimate-set-uniF154:before {
	content: "\f154";
}
.Ultimate-set-uniF155:before {
	content: "\f155";
}
.Ultimate-set-uniF156:before {
	content: "\f156";
}
.Ultimate-set-uniF157:before {
	content: "\f157";
}
.Ultimate-set-uniF158:before {
	content: "\f158";
}
.Ultimate-set-uniF15E:before {
	content: "\f15e";
}
.Ultimate-set-uniF162:before {
	content: "\f162";
}
.Ultimate-set-uniF164:before {
	content: "\f164";
}
.Ultimate-set-uniF188:before {
	content: "\f188";
}
.Ultimate-set-uniF197:before {
	content: "\f197";
}
.Ultimate-set-uniF19A:before {
	content: "\f19a";
}
.Ultimate-set-uniF1B0:before {
	content: "\f1b0";
}
.Ultimate-set-uniF1B2:before {
	content: "\f1b2";
}
.Ultimate-set-uniF1B3:before {
	content: "\f1b3";
}
.Ultimate-set-uniF1B8:before {
	content: "\f1b8";
}
.Ultimate-set-uniF1B9:before {
	content: "\f1b9";
}
.Ultimate-set-uniF1BA:before {
	content: "\f1ba";
}
.Ultimate-set-uniF1CD:before {
	content: "\f1cd";
}
.Ultimate-set-uniF1D1:before {
	content: "\f1d1";
}
.Ultimate-set-uniF1D8:before {
	content: "\f1d8";
}
.Ultimate-set-uniF1D9:before {
	content: "\f1d9";
}
.Ultimate-set-uniF1DE:before {
	content: "\f1de";
}
