header.w2dc-listing-header h2 {
	font-size: 20px;
}

div.w2dc-content a,
div.w2dc-content a:visited,
div.w2dc-content a:focus,
div.w2dc-content a.w2dc-btn,
div.w2dc-content a.w2dc-btn:visited,
div.w2dc-content a.w2dc-btn:focus,
div.w2dc-content h2 a,
div.w2dc-content h2 a:visited,
div.w2dc-content h2 a:focus,
div.w2dc-content.w2dc-widget a,
div.w2dc-content.w2dc-widget a:visited,
div.w2dc-content.w2dc-widget a:focus,
div.w2dc-content .w2dc-pagination > li > a,
div.w2dc-content .w2dc-pagination > li > a:visited,
div.w2dc-content .w2dc-pagination > li > a:focus {
	color: #4d4d4d;
}
div.w2dc-content li.w2dc-listing-bottom-option a {
	background-color: #4d4d4d;
}
div.w2dc-content a:hover,
div.w2dc-content a.w2dc-btn:hover,
div.w2dc-content h2 a:hover,
div.w2dc-content.w2dc-widget a:hover,
div.w2dc-content .w2dc-pagination > li > a:hover {
	color: #000000;
}
div.w2dc-content li.w2dc-listing-bottom-option a:hover {
	background-color: #000000;
}

.w2dc-content .w2dc-categories-root {
	background-color: #F8E1B5;
}
.w2dc-content .w2dc-categories-column {
	background-color: #F9E9C7;
}
div.w2dc-categories-columns,
div.w2dc-categories-columns a,
div.w2dc-categories-columns a:hover,
div.w2dc-categories-columns a:visited,
div.w2dc-categories-columns a:focus {
	color: #4d4d4d;
}

.w2dc-content .w2dc-featured,
.w2dc-content .w2dc-panel-default > .w2dc-panel-heading.w2dc-featured {
	background-color: #ffd9b3;
}

div.w2dc-content .w2dc-btn-primary, div.w2dc-content a.w2dc-btn-primary, div.w2dc-content input[type="submit"], div.w2dc-content input[type="button"],
div.w2dc-content .w2dc-btn-primary:visited, div.w2dc-content a.w2dc-btn-primary:visited, div.w2dc-content input[type="submit"]:visited, div.w2dc-content input[type="button"]:visited,
div.w2dc-content .w2dc-btn-primary:focus, div.w2dc-content a.w2dc-btn-primary:focus, div.w2dc-content input[type="submit"]:focus, div.w2dc-content input[type="button"]:focus,
form.w2dc-content .w2dc-btn-primary, form.w2dc-content a.w2dc-btn-primary, form.w2dc-content input[type="submit"], form.w2dc-content input[type="button"],
form.w2dc-content .w2dc-btn-primary:visited, form.w2dc-content a.w2dc-btn-primary:visited, form.w2dc-content input[type="submit"]:visited, form.w2dc-content input[type="button"]:visited,
form.w2dc-content .w2dc-btn-primary:focus, form.w2dc-content a.w2dc-btn-primary:focus, form.w2dc-content input[type="submit"]:focus, form.w2dc-content input[type="button"]:focus,
div.w2dc-content .wpcf7-form .wpcf7-submit,
div.w2dc-content .wpcf7-form .wpcf7-submit:visited,
div.w2dc-content .wpcf7-form .wpcf7-submit:focus {
	color: #FFFFFF;
	background-color: #4d4d4d;
	border-color: #404040;
}
div.w2dc-content .w2dc-btn-primary:hover, div.w2dc-content a.w2dc-btn-primary:hover, div.w2dc-content input[type="submit"]:hover, div.w2dc-content input[type="button"]:hover,
form.w2dc-content .w2dc-btn-primary:hover, form.w2dc-content a.w2dc-btn-primary:hover, form.w2dc-content input[type="submit"]:hover, form.w2dc-content input[type="button"]:hover,
div.w2dc-content .wpcf7-form .wpcf7-submit:hover {
	color: #FFFFFF;
	background-color: #404040;
	border-color: #404040;
	text-decoration: none;
}
.w2dc-content .select2-container .select2-selection--single .select2-selection__arrow {
	background-color: #4d4d4d;
}
.w2dc-content .select2-container .select2-selection--single .select2-selection__arrow b {
	border-color: #FFFFFF transparent transparent;
}
.w2dc-content .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #FFFFFF;
}

.w2dc-content.w2dc-search-form {
	background: #ff8000;
	background: -moz-linear-gradient(top, #ff8000 0%, #ff6600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff8000), color-stop(100%, #ff6600));
	background: -webkit-linear-gradient(top, #ff8000 0%, #ff6600 100%);
	background: -o-linear-gradient(top, #ff8000 0%, #ff6600 100%);
	background: -ms-linear-gradient(top, #ff8000 0%, #ff6600 100%);
	background: linear-gradient(to bottom, #ff8000 0%, #ff6600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= #ff8000 , endColorstr= #ff6600 ,GradientType=0 );
	border: 1px solid #dddddd;
}
form.w2dc-content.w2dc-search-form,
form.w2dc-content.w2dc-search-form a,
form.w2dc-content.w2dc-search-form a:hover,
form.w2dc-content.w2dc-search-form a:visited,
form.w2dc-content.w2dc-search-form a:focus,
form.w2dc-content a.w2dc-advanced-search-label,
form.w2dc-content a.w2dc-advanced-search-label:hover,
form.w2dc-content a.w2dc-advanced-search-label:visited,
form.w2dc-content a.w2dc-advanced-search-label:focus {
	color: #FFFFFF;
}

.w2dc-content .w2dc-map-info-window-title {
	background-color: #4d4d4d;
}
.w2dc-content .w2dc-label-primary {
	background-color: #4d4d4d;
}
div.w2dc-content .w2dc-pagination > li.w2dc-active > a,
div.w2dc-content .w2dc-pagination > li.w2dc-active > span,
div.w2dc-content .w2dc-pagination > li.w2dc-active > a:hover,
div.w2dc-content .w2dc-pagination > li.w2dc-active > span:hover,
div.w2dc-content .w2dc-pagination > li.w2dc-active > a:focus,
div.w2dc-content .w2dc-pagination > li.w2dc-active > span:focus {
	background-color: #4d4d4d;
	border-color: #4d4d4d;
	color: #FFFFFF;
}
figure.w2dc-listing-logo figcaption {
	background-color: #4d4d4d;
}
.w2dc-found-listings .w2dc-badge {
	background-color: #4d4d4d;
}
.w2dc-content .w2dc-choose-plan:hover {
	border: 4px solid #4d4d4d;
}
.statVal span.ui-rater-rating {
	background-color: #4d4d4d;
}

.w2dc-listings-block article.w2dc-listing {
	margin-bottom: 30px;
}

/* It works with devices width more than 800 pixels. */
@media screen and (min-width: 800px) {
	.w2dc-listings-block .w2dc-listing-logo-wrap {
		width: 290px;
			}
	.w2dc-listings-block figure.w2dc-listing-logo .w2dc-listing-logo-img img {
		width: 290px;
	}
	.w2dc-listings-block .w2dc-listing-text-content-wrap {
				margin-left: 290px;
				padding: 0 20px;
	}
}

.w2dc-content .w2dc-share-button img {
	max-width: 40px;
}
.w2dc-content .w2dc-share-buttons {
	height: 50px;
}



article.w2dc-listing .w2dc-single-listing-logo-wrap .w2dc-big-slide {
	background-size: contain;
}
